@model ServiciosBomberos.Web.Data.Entities.Tipo

@{
    ViewData["Title"] = "Create";
}

<h1>Crear nuevo Tipo de Salida</h1>

<h4>Tipo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Prioridad" class="control-label"></label>
                <select asp-for="Prioridad" class="form-control" >
                    <option>ALTA</option>
                    <option>MEDIO</option>
                    <option>BAJA</option>
                </select>
                <span asp-validation-for="Prioridad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success"><i class="fa fa-save"> Añadir</i></button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#volverDialog"><i class="fa fa-hand-o-left"></i> Volver a la Lista</button>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="volverDialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CONFIRMAR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>El tipo de servicio no sera añadido,</p>
                <p>¿DESEA CONTINUAR?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnYes">SI <i class="fa fa-thumbs-up"></i></button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">NO <i class="fa fa-thumbs-down"></i></button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            //Confirmar
            $("#btnYes").click(function () {
                window.location.href = '/Tipos/Index';
            });
        });
    </script>
}
