@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/BomberoFuego.png" />
    <h1 class="display-4">BIENVENIDOS AL SISTEMA DE GESTION DE SERVICIOS DE BOMBEROS</h1>
</div>
