
@{
    ViewData["Title"] = "ConfirmEmail";
}
    <div class="text-center">
        <h2>CONFIRMACIÓN DE CORREO</h2>
        <p>
            GRACIAS POR CONFIRMAR SU CORREO
        </p>
        <P>
            AHORA PUEDE INICIAR SESIÓN
        </P>
    </div>

