
@{
    ViewData["Title"] = "NotAutorized";
}

    <div class="text-center">
        <img src="~/images/INeedYou.jpg" />
        <h1>NO ESTA AUTORIZADO PARA REALIZAR ESTA ACCIÓN</h1>
        <h1>INICIE SESION PARA ACCEDER</h1>
    </div>
