
@{
    ViewData["Title"] = "UserNotAuthorized";
}


    <div class="text-center">
        <img src="~/images/INeedYou.jpg" />
        <h1>NO ESTA AUTORIZADO PARA REALIZAR ESTA ACCIÓN</h1>
        <h1>SOLO EL ADMINISTRADOR ESTA AUTORIZADO</h1>
        <a href="javascript: history.go(-1)" class="btn btn-success">Volver atrás <i class="fa fa-hand-o-left"></i></a>
    </div>

