@model ServiciosBomberos.Web.Models.AddSalidaViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Servicio</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="DiaSalida" class="control-label"></label>
                <input asp-for="DiaSalida" type="date" class="form-control" />
                <span asp-validation-for="DiaSalida" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Bombero1" class="control-label"></label>
                <select asp-for="Bombero1" asp-items="Model.Bomberos" class="form-control"></select>
                <span asp-validation-for="Bombero1" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="EsReten1" /> @Html.DisplayNameFor(m => m.EsReten1)
            </div>

            <div class="form-group">
                <label asp-for="Bombero2" class="control-label"></label>
                <select asp-for="Bombero2" asp-items="Model.Bomberos2" class="form-control"></select>
                <span asp-validation-for="Bombero2" class="text-danger"></span>
            </div>

            <div>
                <input asp-for="EsReten2" /> @Html.DisplayNameFor(m => m.EsReten2)
            </div>

            <div class="form-group">
                <label asp-for="HoraSalida" class="control-label"></label>
                <input asp-for="HoraSalida" type="time" class="form-control" />
                <span asp-validation-for="HoraSalida" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HoraRegreso" class="control-label"></label>
                <input asp-for="HoraRegreso" type="time" class="form-control" />
                <span asp-validation-for="HoraRegreso" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoSalida" class="control-label"></label>
                <select asp-for="TipoSalida" asp-items="Model.TiposDeSalida" class="form-control"></select>
                <span asp-validation-for="DiaSalida" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <textarea asp-for="Descripcion" cols="4" rows="2" class="form-control"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success"><i class="fa fa-save"> Guardar</i></button>
                <a asp-action="Index" class="btn btn-danger">Volver a la Lista <i class="fa fa-hand-o-left"></i></a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}