
@{
    ViewData["Title"] = "SalidaNotFound";
}


    <br />
    <br />
    <div class="text-center">
        <img src="~/images/INeedYou.jpg" />
        <h1>VAYA! NO ENCONTRAMOS EL SERVICIO</h1>
        <a asp-action="Index" class="btn btn-danger"><i class="fa fa-hand-o-left"></i> Volver</a>
    </div>

